<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-box">
        <h2>Admin Login</h2>
        <% if (typeof error !== 'undefined') { %>
        <p class="error"><%= error %></p>
        <% } %>
        <% if (typeof dbError !== 'undefined') { %>
        <p class="error"><%= dbError %></p>
        <% } %>
        <form action="/admin/login" method="post">
          <div class="input-box">
            <input
              type="email"
              name="email"
              required
              value="<%= typeof email !== 'undefined' ? email : '' %>"
            />
            <label id="email">Email</label>
          </div>
          <div class="input-box">
            <input type="password" name="password" required />
            <label>Password</label>
          </div>
          <button type="submit" class="btn">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
