<section class="container-section">
  <aside>
    <div class="item-1">
      <img
        width="20"
        height="20"
        src="https://img.icons8.com/?size=100&id=86527&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;home
    </div>
    <div class="item-1">
      <img
        width="20"
        height="23"
        src="https://img.icons8.com/?size=100&id=KSOtMbt2xoRc&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;dashboard
    </div>
    <div class="item-4">
      <img
        width="25"
        height="25"
        src="https://img.icons8.com/?size=100&id=HWo72rUOuRIH&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />transcations
    </div>
    <!-- <div class="item-2">content</div> -->
    <!-- <div class="item-3">budget</div> -->
    <div class="item-5">
      <img
        width="20"
        height="23"
        src="https://img.icons8.com/?size=100&id=122150&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;Balance
    </div>
    <div class="item-6">
      <img
        width="20"
        height="23"
        src="https://img.icons8.com/?size=100&id=87093&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;tasks
    </div>
    <div class="item-7">
      <img
        width="20"
        height="23"
        src="https://img.icons8.com/?size=100&id=60025&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;expense
    </div>
    <p>System Preference</p>
    <div class="item-8">
      <img
        width="20"
        height="23"
        src="https://img.icons8.com/?size=100&id=2969&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;settings
    </div>
    <div class="item-8">
      <img
        width="20"
        height="23"
        src="https://img.icons8.com/?size=100&id=9730&format=png&color=000000"
        alt="partly-cloudy-night--v1"
      />&MediumSpace;&MediumSpace;support
    </div>
  </aside>

