<div class="inner-section">
    <div class="grid-container-div">    
      <div class="grid-item-1 grid-item">
        <div class="first-section">Total Expense</div>
        <div class="second-section">
          <p id="counter">2006</p>
        </div>
        <div class="third-section">

          <form action="/addExpense" method="post">
            <input type="text" class="input-field" name="expenseName">


            <input type="text" class="input-field" name="expenseMoney">


            <input type="submit" class="submit-btn" value="+">

          </form>
        </div>
      </div>
      <div class="grid-item-2 grid-item">
        <div class="first-section">Total Income</div>
        <div class="second-section">
          <p id="counter">9877</p>
        </div>
        <div class="third-section">

          <form action="/addIncome" method="post">
            <input type="text" class="input-field" name="incomeName">


            <input type="text" class="input-field" name="incomeMoney">


            <input type="submit" class="submit-btn" value="+">

          </form>
        </div>
      </div>
      <div class="grid-item-3 grid-item"><div class="first-section">Tasks left</div>
      <div class="second-section">
        <p id="counter">13</p>
      </div>
      <div class="third-section">

        <form action="/addTasks" method="post">
        <input type="text" class="input-field" name="TasksName">
        <input type="submit" class="submit-btn" value="+">

        </form>
      </div>
    </div>
      <div class="grid-item-4 grid-item">4</div>
      <div class="grid-item-5 grid-item">5</div>
      <div class="grid-item-6 grid-item">6</div>
      <div class="grid-item-7 grid-item">7</div>
      <!-- <div class="grid-item-8 grid-item">8</div> -->
    </div>
  </div>
</section>