<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenso</title>
    <link rel="stylesheet" href="/public/css/entry.css">
</head>
<body>
    Welcome to Expenso
    <p> please login or signup to continue</p>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
</body>
</html>