<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elementum Web Page</title>
    <link rel="stylesheet" href="/css/entry.css" />
  </head>
  <body>
    <div class="container">
      <div class="first-section">
        <a class="item-1" href="#">Home</a>
        <a class="item-2" href="#">About Us</a>
        <a class="item-3" href="#">Explore</a>
      </div>
      <div class="second-section">
        <h1>Expenso</h1>
        <p>Expenso is a comprehensive online platform designed to simplify expense tracking and task management.</p> <p> With Expenso, individuals and businesses can streamline their financial management and optimize productivity.</p>
      </div>
      <div class="third-section">
        <a href="/login"> Login </a>
        <a href="/signup">Signup</a>
      </div>
    </div>
  </body>
</html>
